.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 85vw;
    box-sizing: border-box;

    .containerInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .card + .card {
        margin-left: 12px
    }
}